################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EW.GameCenter/Content/mods/common/EW.GameCenter.dll.mdb
