################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EW.GameCenter/Content/mods/common/EW.GameCenter.dll.mdb
/EW.GameCenter/obj/Debug
/EW.Mods.Cnc/obj/Debug
/EW.Mods.Common/obj/Debug
/EW.Mods.Common/bin/Debug
/EW.Xna.Platforms/bin/Debug
/EW.GameCenter/bin/Debug
/EW.Xna.Platforms/obj/Debug
/obj
/EW.GameLaunch/obj/Debug
/EW.GameLaunch/bin/Debug
/.vs/EastWoodStudio/v15
/packages/OpenTK.2.0.0
/EW.Test
/EW.Framework.Android/bin/Debug
/EW.Framework.Android/obj/Debug

*.dll

*.pdb

*.flag

*.userprefs
